<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
  <style>
    h1{text-align: center;}
  </style>
   <div class="container">
    <div class="row">
        <div class="col-md-7">
<h1 class="text-left">Ажилтан шинээр бүртгэх</h1>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-left">Registration form</h3>
                </div>
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
            </div>
            <hr>
            <div class="row">
            <label class="label col-md-2 control-label">Ажилтны нэр</label>
<div class="col-md-10">
            <form method="post">
                <input type="text" class="form-control" name="ajiltanner" placeholder="Та ажилтны нэрийг бичнэ үү...">
                <select class="form-select" id="sel2" name="sid">
                {%for s in salbaruud%}
                <option value="{{s.sid}}">{{s.sname}}</option>
                {%endfor%}
                </select>
        </div>
            </div>
<div>
    <input type="submit" class=" btn btn-info" value="Хадгалах">
</div>

</form>
        </div>
        </div>
</div>
    <h1> Ажилтны хүснэгт </h1>
    <div class="container">
      <table class="table">
          <thead>
              <tr>
                  <th>Ажилтны код</th>
                  <th>Ажилтны нэр</th>
                  <th>Салбарын нэр</th>
              </tr>
          </thead>
 
                <tbody>
                  {%if ajiltnuud%}
                  {%for s in ajiltnuud%}
        <tr>
          <td>{{s.ajiltanid}}</td>
          <td>{{s.ajiltanner}}</td>
         <td>{{s.sname}}</td>
         <td><a href="{{url_for('ajiltanEdit',id=s.ajiltanid)}}"><button type="button" class="btn btn-success">Засах</button></a></td>
         <td><a href="{{url_for('ajustgah',id=s.ajiltanid)}}"><button type="button" class="btn btn-danger">Устгах</button></a></td>
        </tr>
        {%endfor%}
    {%else%}
    <h1>bichleg baikhgui baina</h1>
  {%endif%}
                </tbody>
      </table>
  </div>       
 
</body>
</html>